<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="~{layouts/main_layout :: head(title = 'Social Geeking')}">
</head>

<body>
<nav th:replace="~{layouts/main_layout :: nav}"></nav>

<main class="page registration-page">
  <section
          class="clean-block clean-form dark"
          style="background-color: rgb(255,255,255);"
  >
    <div
            class="row d-flex justify-content-center shadow-sm border rounded"
            style="margin-left: 0;margin-right: 0;margin-top: 10px;padding-top: 25px;padding-bottom: 25px;"
            sec:authorize="isAuthenticated()"
            th:each="post : ${userPosts}"
    >
      <div class="col-lg-11 order-12">
        <h5 th:text="${post.title}">
          Lorem Ipsum dolor sit amet
        </h5>
        <div class="info">
              <span
                      class="text-muted" style="margin-right: 0;">
                <span
                        th:title="${post.getCreationDate()}"
                        th:datetime="${post.getCreationDate()}"
                        th:text="${post.getPrettyTime()}"
                >4 hours ago by</span>by <a
                      href="#"
                      style="color: rgb(0,123,255);"
                      th:href="@{'/u/' + ${post.getUser().getUsername()}}"
                      th:text="${post.getUser().getUsername()}"
              >John Smith</a
              ></span>
        </div>
        <a th:href="@{'/post/' + ${post.id}}">
          <button class="btn btn-outline-primary btn-sm" type="button">
            Read More</button
          >
        </a>
        <a
                href="#"
                style="margin-left: 20px;"
                th:href="@{'/post/' + ${post.id}}"
                th:text="|${post.getComments().size()} comments|"
        >78 Comments</a
        >
      </div>
    </div>
  </section>
</main>
</body>
</html>
