<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{layouts/main_layout :: head(title = 'Social Geeking')}">
</head>

<body>
<nav th:replace="~{layouts/main_layout :: nav}"></nav>
<main class="page login-page">
  <section
          class="clean-block clean-form dark"
          style="background-color: rgb(255,255,255);"
  >
    <div class="container">
      <div class="block-heading" style="padding-top: 40px;">
        <h2 class="text-info">Edit Post</h2>
      </div>
      <form
              method="post"
              th:action="@{/post/edit}"
              th:object="${post}"
              th
              class="shadow"
      >

        <div class="form-group">
          <label for="body">Status :</label
          ><textarea
                id="body"
                class="form-control"
                name="body"
                placeholder="Status"
                rows="3"
                th:field="*{title}"
        >
              </textarea>
          <input th:field="*{id}" type="hidden" th:value="${id}">
          <small th:errors="*{title}" style="color:red;"></small>
        </div>

        <div class="form-group">
          <label for="body">Choose Privacy :</label> <br>
          <input type="radio" id="public"  th:field="*{privacy}" value="public">
          <label for="public">Public</label><br>
          <input type="radio" id="private" th:field="*{privacy}" value="private">
          <label for="private">Private</label><br>
          <small th:errors="*{privacy}" style="color:red;"></small>
        </div>

        <div class="form-group">
          <label for="body">Check In</label>
            <select readonly class="form-control item" required th:field="*{location}">
              <option value=""> Select </option>
              <option th:each="location : ${locations}"
                      th:value="${location.id}"
                      th:text="${location.name}"
                      >
              </option>
            </select>
        </div>

        <button class="btn btn-primary btn-block" type="submit">
          edit
        </button>
      </form>
    </div>
  </section>
</main>
</body>
</html>
